# Web framework
Flask
Flask-CORS

# Environment variables
python-dotenv

# Database
pymongo

# Authentication
bcrypt

# NLP / Embeddings
sentence-transformers
scikit-learn
numpy
torch
networkx

# Translation
deep-translator

# LLM / API
openai
